<%
def link(name, path, is_active = false, options = {})
  active = is_active ? ' active' : ''
  default_options = { :class => 'nav-item nav-link' + active }
  link_to(name, path, options.merge(default_options))
end
%>

<div class="nav navbar-toggleable-xs">
  <nav class="nav navbar-nav">
    <%= link 'Home', root_path %>
    <%= link 'About', page_path('about'), true %> <!-- active by default in this example -->
    <% if user_signed_in? %>
      <%= link 'Edit account', edit_user_registration_path %>
      <%= link 'Sign out', destroy_user_session_path, false, :method=>'delete' %>
    <% else %>
      <%= link 'Sign in', new_user_session_path %>
      <%= link 'Sign up', new_user_registration_path %>
    <% end %>
    <% if user_signed_in? %>
      <% if current_user.try(:admin?) %>
        <%= link 'Admin', '/admin' %>
        <%= link 'Users', users_path %>
      <% end %>
    <% end %>
  </nav>
</div>
