<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Tm" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Tm" %>">
    <link href='http://fonts.googleapis.com/css?family=Lato:300normal,400normal&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class="navbar navbar-light navbar-static-top bd-navbar">
      <%= render 'layouts/navigation' %>
    </header>

    <div class="<%= "container" if !@skip_container %>">
      <%= yield %>
    </div>
  </body>
</html>
